body {
    font-family: 'Russo One';
    background-color: rgb(255,255,255);

    text-size-adjust:100%; 
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
}

#links {
    /*background: rgba(128,128,128,0.2);*/

    position: absolute;
    top: 1%;
    height: 45%;
    left: 1%;
    width: 45%;

    /*text-align: center;*/
    font-size: 50px;
    /*font-weight: 400;*/
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: rgb(128,128,128);
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

svg {
    position: absolute;
    bottom: 1%;
    right: 1%;
}